[Unit]
Description=mmba PureData server application for myStrom bulbs
After=bulbs-py.service
Wants=bulbs-py.service

[Service]
Type=simple
# For now, issue #2 requires a current build from branch update/0.48.0 from https://github.com/pure-data/pure-data.git 
ExecStart=/usr/bin/pd-0.48.0 -nogui -noaudio -send "get_peer_ip 0" /etc/network/bulbs.pd/_main.pd
StandardOutput=null
StandardError=null

[Install]
WantedBy=default.target
