[Unit]
Description=mmba Python server for myStrom bulbs
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/etc/network/bulbs.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target
